@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600;900&display=swap');

body{
  background-image: linear-gradient( to bottom,rgb(64, 64, 64),#111111) ;  
  font-family: 'Gothic A1', sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
 
   
}

header{
  background-image:linear-gradient(to bottom, rgba(22, 22, 22, 0.748), rgba(0, 0, 0, 0.656) );
  width:100vw;
}

.header-text{
  font-family: 'Gothic A1', sans-serif;
  font-size: clamp(2.5rem, 4vw, 3.5rem) ;
  color:rgb(220, 222, 220);
  filter:drop-shadow(5px 1px 5px rgb(86, 87, 86));
  text-align: center;
  
}

.main{
  display:flex;
  flex-direction: column;  
  align-items: center; 
  justify-content: center;
  gap:40px;
  height:90%;
}

img{
  margin:20px;
  filter:drop-shadow(5px 1px 5px rgb(32, 178, 71));
  width: 100%;
  height:auto;
  
}

footer{
  margin-top: 50px;
  background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.204), rgb(22, 22, 22)  );
  width:100vw;
  height: 10%;
  
  
}

.footer-text{
  color:rgb(194, 196, 194);
  text-align: center;
  font-style: italic;
  filter:drop-shadow(5px 1px 5px rgb(86, 87, 86));
  
}
